@model IList<MiAmor.Web.Models.BlogModel>

@{
    foreach (MiAmor.Web.Models.BlogModel item in Model)
    {
            <text>
                    <li>
                        <div class="post-with-image">
                            <div class="date-month">
                                <a href="#">
                                    <span class="date">12</span>
                                    <span class="month">Sep</span>
                                </a>
                            </div>

                            <div class="post-image">
                                <img src="@item.BlogPostPictures.FirstOrDefault().Picture.BaseUrl.ToString()" alt="">
                            </div>

                            <h2 class="title"><a href="blog-post.html">@item.Title</a></h2>

                            <p class="user">
                                <a href="#"><i class="fa fa-user"></i> Admin</a>
                                <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                                <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                            </p>

                            <p class="post">
                               @item.ShortDescription
                            </p>

                            <p class="tag">
                                <a href="#"><i class="fa fa-tag"></i>@item.Tags</a>
                            </p>

                            <a class="post-read-more" href="@Url.Action("BlogPost", "Blog", new { Id = @item.Id })"><i class="fa fa-angle-right"></i>Read More</a>

                        </div> <!-- end .post-with-image -->
                    </li>
            </text>
    }
}
